<div class="nav-btns">
  <a href="{{ url_for('index') }}" class="btn btn-secondary{% if page == 'overview' %} btn-active{% endif %}">Overview</a>
  <a href="{{ url_for('manage_allowed') }}" class="btn{% if page == 'allowed' %} btn-active{% endif %}">Allowed</a>
  <a href="{{ url_for('manage_blocked') }}" class="btn{% if page == 'blocked' %} btn-active{% endif %}">Blocked</a>
  <a href="{{ url_for('manage_unsorted') }}" class="btn{% if page == 'unsorted' %} btn-active{% endif %}">Unsorted</a>
</div>